.mid {
    max-width: 70%;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .mid {
        max-width: 82.5%;
    }
}

@media screen and (max-width: 600px) {
    .mid {
        max-width: 95%;
    }
}