/* Used in SectionTable when creating tables for the Accordion Sections */
table,
tr {
  border: 1px solid var(--color-secondary-dark);
  border-collapse: collapse;
  vertical-align: top;
}

table {
  width: 100%;
}

tr,th {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

td {
  padding: 15px;
}

.compareEl {
    display: grid;
    grid-template-rows: 1fr;
    align-self: center;
    justify-content: center;
}

.compareButton {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
