.header {
    background-color: var(--color-white);
}

.header_main {
    max-width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 80% 20%;
}

.logo {
    max-width: 250px;
    max-height: fit-content;
    float: right;
    align-self: center;
}

.bar {
    height: 2px;
    width: 100%;
    background-color: var(--color-accent);
  }

@media screen and (max-width: 1024px) {
    .header_main {
        flex-direction: column;
        max-width: 82.5%;
        grid-template-columns: 100%;
    }
    .logo {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header_main {
        flex-direction: column;
        max-width: 95%;
    }
}