/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: var(--color-white);
  overflow: auto;
  transition: max-height 0.6s ease;
  display: flex;
}

.accordion__name {
  margin-right: 1rem;
}

.detailsList {
  padding: 18px 18px 0px 18px;
  background-color: var(--color-primary);
}

.accordion__word {
  margin-left: auto;
  margin-right: 0;
  background-color: var(--color-primary);
  align-self: center;
  padding: .2rem;
  border-radius: .3rem;
}
